body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* multiple selectors */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Extra-Bold";
}

/* combined selectors: selector1#selector2 {} here both selectors must occur in the same element */
p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* title  section*/
/* hierarchical selectors: selector1 selector2{} / parent child{} */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
.Download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  position: relative;
  /* z-index: 1; */
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.presslogo {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Call To Action CTA */
/* footer */
.social-icon {
  margin: 20px 10px;
}

/* Media query */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
